*{
  box-sizing:border-box;
  font-family: Archivo;
  }

html, body{
  height:100%;
}

button{
  cursor:pointer;
}

input{
  cursor:pointer;
}


html {
  background: url("https://i.ytimg.com/vi/8Fxl2p3AWj0/maxresdefault.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

}

.miles{
  color:white;
  font-size:25px;
}

.trinkot{
  color:white;
  font-size:25px;
}

h1{
  text-align:center;
  color:black;
  background-color: white;
  margin-top:90px;
}

.incorr{
  display:none;
}


.correctanswer{
  display:none;
  
}

.opener{
  margin-top:150px;
  font-size:30px;
}

.question{
  display:none;
}


.container1{
  height:70%;
  width:60%;
  margin:auto;
  margin-top:90px;
  font-size:15px;
  float:center;
  background-color:gold;
}

header{
  color:white;
}

.mild{
  font-size:40px;
  margin-top:8%;
  background-color: white;
}

fieldset{
  border:0px;
}


p{
  text-align:center;
  color:black;
  font-size: 25px;
  background-color: white;
}

ul{
  list-style:none;
}

li{
    display:inline-block;
    margin-left:8%;
    margin-right:8%;
    font-size:30px;}

.moving_on{
  margin-left:45%;
  margin-right:45%;
  font-size:25px;
  background-color:gold;
  border: 2px solid black;
}

h2{
  text-align:center;
  margin-left:60px;
  margin-right:20px;
  font-size:27px;
}

#original{
  font-size:40px;
  background-color:gold;
  border: solid 2px black;
  margin-left:43%;
  margin-right:43%;
}

.next-button{  
  margin-left:43%;
  margin-right:43%;
  font-size:20px;
  background-color:green;
  border: 2px solid black;}

  .moving_on_correct{
  margin-left:45%;
  margin-right:45%;
  font-size:25px;
  background-color:gold;
  border: 2px solid black;
}

.replaybutton{
  font-size:25px;
  background-color:gold;
  border: solid 2px black;
  margin-left:45%;
  margin-right:45%;
}

.math{
  margin-top:100px;
  font-size:40px;
  background-color:none;
}

@media screen and (max-width:520px){

.miles{
  color:white;
  font-size:20px;
}

.trinkot{
  color:white;
  font-size:20px;
}

h1{
  text-align:center;
  color:black;
  background-color: white;
  margin-top:100px;
}


.opener{
  margin-top:100px;
  font-size:25px;
}



.container1{
  height:70%;
  width:90%;
  margin:auto;
  margin-top:90px;
  font-size:15px;
  float:center;
  background-color:gold;
}


.mild{
  font-size:30px;
  margin-top:120px;
  background-color: white;
}




p{
  text-align:center;
  color:black;
  font-size: 20px;
  background-color: white;
}



li{
    display:inline-block;
    margin-left:1%;
    margin-right:0%;
    font-size:22px;}

.moving_on{
  margin-left:40%;
  margin-right:40%;
  font-size:20px;
  background-color:gold;
  border: 2px solid black;
}

h2{
  text-align:center;
  margin-left:20px;
  margin-right:20px;
  font-size:23px;
}

#original{
  font-size:30px;
  background-color:gold;
  border: solid 2px black;
  margin-left:43%;
  margin-right:55%;
}

.next-button{  
  margin-left:43%;
  margin-right:43%;
  font-size:20px;
  background-color:green;
  border: 2px solid black;}

  .moving_on_correct{
  margin-left:40%;
  margin-right:40%;
  font-size:20px;
  background-color:gold;
  border: 2px solid black;
}

.replaybutton{
  font-size:20px;
  background-color:gold;
  border: solid 2px black;
  margin-left:40%;
  margin-right:40%;
}

.math{
  margin-top:100px;
  font-size:40px;
  background-color:none;
}


}

@media screen and (min-width:520px) and (max-width:800px){

  .miles{
  color:white;
  font-size:22px;
}

.trinkot{
  color:white;
  font-size:22px;
}

h1{
  text-align:center;
  color:black;
  background-color: white;
  margin-top:100px;
}


.opener{
  margin-top:100px;
  font-size:25px;
}



.container1{
  height:60%;
  width:70%;
  margin:auto;
  margin-top:70px;
  font-size:25px;
  float:center;
  background-color:gold;
}


.mild{
  font-size:30px;
  margin-top:12%;
  background-color: white;
}




p{
  text-align:center;
  color:black;
  font-size: 25px;
  background-color: white;
}



li{
    display:inline-block;
    margin-left:8%;
    margin-right:0%;
    font-size:25px;}

.moving_on{
  margin-left:40%;
  margin-right:40%;
  font-size:20px;
  background-color:gold;
  border: 2px solid black;
}

h2{
  text-align:center;
  margin-left:18px;
  margin-right:20px;
  font-size:25px;
}

#original{
  font-size:30px;
  background-color:gold;
  border: solid 2px black;
  margin-left:43%;
  margin-right:55%;
}

.next-button{  
  margin-left:43%;
  margin-right:43%;
  font-size:20px;
  background-color:green;
  border: 2px solid black;}

  .moving_on_correct{
  margin-left:40%;
  margin-right:40%;
  font-size:20px;
  background-color:gold;
  border: 2px solid black;
}

.replaybutton{
  font-size:20px;
  background-color:gold;
  border: solid 2px black;
  margin-left:40%;
  margin-right:40%;
}

.math{
  margin-top:80px;
  font-size:40px;
  background-color:none;
}



}
